* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
/* impotar fuente de google*/
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Plus+Jakarta+Sans:wght@200&display=swap');

.main{

    background-image: linear-gradient(to bottom, #fff9ed, #fef5e9, #fcf2e4, #fbeee0, #faeadc, #ddcfc2, #dfcbbc, #dac8ba, #d3c2b5, #c4b4a7, #b5a599);

}
.color{
    background-color:#fff5ea ;
}

.colorF{
    color:#837367;
    font-family:'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: large;

}

.div__nav{
    margin-left: 34%;
}

.logo{
    width: 100px;
    height: 100px;
}

.video{
    width: 90%;
}

.texto{
    margin-right: 10%;
    color:#4e443c;
    font-family:'Cormorant Garamond', serif; 
}

.portada{
    width: 100%;
    height: 85vh;  
}

.colorFot{
    background-color:#ebd9cb;
}

.div__fot{
    text-align: center;
    font-family:'Cormorant Garamond', serif;
}

.div__a , .titulo1{
    text-decoration: none;
    color: #4e443c;
    font-family:'Cormorant Garamond', serif;
}

.principal{
    background-color: #837367;
    color: #fff9ed;
    font-family:'Cormorant Garamond', serif;
    text-align: center;
}

.img__velas{
    width: 300px;
    height: 300px;
    transition: all .5s;
    margin-top: 5%;
    
}
.img__velas:hover {
    transform: scale(1.1);
}

.slogan{
    background-color: #837367;
    color: #fff9ed;
    margin-top: 7%;
    height: 10%;
    font-family:'Cormorant Garamond', serif;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1 ;
}

@keyframes aparecer {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
   
}
.prueba{
    width: 50%;
    margin-left: 25%;   
    
}
.prueba2{
    background-color: #96887d;
    color: white;
    font-family:'Cormorant Garamond', serif;
}
.try{
    
    margin-left: 13%;
}
.try2{
    background-color: #4f954f;
    color: white;
    text-align: center;
    font-family:'Cormorant Garamond', serif;
}
.try3{
    text-align: center;
}
.slogan2{
    background-color: #837367;
    color: #fff9ed;
    height: 10%;
    font-family:'Cormorant Garamond', serif;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1 ;
}
.div__loc{
    background-color: #b7a597;
    color: white;
    font-family:'Cormorant Garamond', serif;
}

.horarios{
    font-weight: bold;
}

.local2{
    margin-top: 5%;
    padding-bottom: 5%;
}


.try4{
    background-color: #792f2f;
    color: white;
    text-align: center;
    font-family:'Cormorant Garamond', serif;
}

@media (max-width: 575px){

    .img__velas{
        width: 100px;
        height: 100px; 
    } 
    .portada{
        height: 50vh;  
    }
    .slogan{
        height:17%;
    }
    .prueba{
        margin-left: 5%;
        width: 90%;    
    } 
    .video{
        width: 70%;
        margin-left: 17%;
    }
    .introduccion{
        width: 100%;
        text-align: center;
        margin-left: 5%;
        padding-bottom: 5%;
    }

}

@media (min-width: 576px) and (max-width: 767px){
    
    .img__velas{
        width: 200px;
        height: 200px; 
    }
    .portada{
        height: 60vh;  
    }
    .slogan{
        height: 15%;
    }
    .prueba{
        margin-left: 10%;
        width: 80%;    
    } 
    .video{
        width: 70%;
        margin-left: 17%;
    }
    .introduccion{
        width: 100%;
        text-align: center;
        margin-left: 5%;
        padding-bottom: 5%;
    }
    

}

@media (min-width: 768px) and (max-width: 991px){
    
    .img__velas{
        width:200px;
        height:200px; 
    }

    .prueba{
        margin-left: 10%;
        width: 80%;    
    } 
    .video{
        width: 70%;
        margin-left:18%;
    }
    .introduccion{
        width: 90%;
        text-align: center;
        margin-left: 10%;
        padding-bottom: 5%;
    }


}
@media (min-width: 992px) and (max-width: 1199px){
    .img__velas{
        width:200px;
        height:200px; 
    }

    .prueba{
        margin-left: 10%;
        width: 80%;    
    } 
    .video{
        width: 90%;
        margin-left:60%;
    }
    .introduccion{
        width: 90%;
        text-align: center;
        margin-left: 10%;
        padding-bottom: 5%;
    }

}


